.disable{
    pointer-events: none;
    color: #6c757d;
}
.btn-link{
    padding: .5rem 1rem;
 }
.btn-link:hover{
 color: #fff;
}
.card {
    box-shadow: 0 9px 23px 3px rgb(64 60 67 / 16%);
}

 
.table::-webkit-scrollbar {
    width: 0px;
    height: 0px;
   }

.lenght-label ~ span {
    text-transform: capitalize;
}

.length {
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: transparent;
}
 
 
@media (max-width:576px) {
    .filter-select-wrapper{
      text-align: center;
    }
}


.filter-select {
    max-width: max-content;
     border: 1px solid #ced4da;
}
 
.filter-select:hover {
    border-color: var(--primary);
}
 
 
@media (max-width: 768px) {
    
.card-footer> div,.printer ,.btns{
    text-align: center !important;
}
  .printer{
margin-top: .5rem;
  }
    
}

/* // Small devices (landscape phones, less than 768px) */
@media  (min-width: 991px) {
 .rtl   .card-footer >div:first-of-type {
      text-align: right;
    }  
    .ltr   .card-footer> div:last-of-type {
        text-align: right;
      } 

     .rtl .printer{
text-align: left;
      }
      .ltr .printer{
        text-align: right;

    }
    .rtl .btns{
        text-align: right;

    }
    .ltr .btns{
        text-align: left;

    }
}

/* row no data */
.tableList{
    position: relative;
}
.tableList .nodata{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: aquamarine;
    
}
/* // Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .header-one {
        grid-template-columns: repeat(2, 1fr);
     }

     
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .header-one {
        grid-template-columns: repeat(3, 1fr);
    }

    
}

@media (min-width: 1200px) {
    .header-one {
        grid-template-columns: repeat(3, 1fr);
    }

   
}
.searchValue{
    padding: 5px;

}
input[type=checkbox]{  
    width: 20px;
    height: 20px;
}

/* search btn */
 
.search-btn{
  max-width: 50%!important;

}
 @media (max-width:576px) {
    .search-btn{
        max-width: 100% !important;
      
      }

 }
/* form search */
 
 
 
 
  

 .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus {
    box-shadow:none !important; 
}