<div class="content-header text-capitalize"  >
    <div class="container-fluid">
        <div class="row mb-2 title-section  ">
            <div class="col-sm-6 d-none d-md-block">
                <h6 class="m-0 text-dark" translate>dept.departments</h6>
            </div><!-- /.col -->
            <div class="col-sm-6 ">
                <ol class="breadcrumb float-sm-right   ">
                    <li class="breadcrumb-item"><a href="#"translate>home.home</a></li>
                    <li class="breadcrumb-item active p-0 "> <span class="mx-1" translate>dept.departments</span></li>
                </ol> 
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content hg">
    <div class="container">
        <!-- Info boxes -->
        <form #formOperation='ngForm'>

            <eg-table 
            [filterList]=filterList
             [moreAction]=moreAction 
             [oneAction]=oneAction 
             [Pagination]=pagination
                (searchChange)="changeSearch($event)" (listLenghtChange)="changeLenghtSize($event)"
                (PageChanged)="PageChanged($event)" (OnCreate)=OnCreate($event) (onDelete)=onDelete($event)
                (OnEdit)=OnEdit($event)>

                <ng-container class="body">
                    <!--  body  start -->

                    <thead class="text-center table-header text-capitalize">
                        <tr>
                            <th scope="col">
                                <input (change)="checkedChangeAll()" type="checkbox" [checked]=checkAll>
                            </th>
                            <th class="text-capitalize" translate>dept.name</th>
                            <th translate>dept.name ar</th>
                            <th translate>dept.lastEdit</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">

                        <tr *ngIf="editStatus||addStatus">
                            <td>
                                <button (click)="editDepartment()" [disabled]="!(formOperation.valid&&nameinput.touched)" *ngIf="editStatus"
                                    class="btn btn-info btn-sm  "><i class="  fas fa-edit"></i></button>
                                <button (click)="createdDepartment()" [disabled]="!(formOperation.valid&&nameinput.dirty)"
                                    *ngIf="addStatus" class="btn btn-sm btn-primary "><i
                                        class="  fas fa-save"></i></button>
                            </td>

                            <td>
                                <input #nameinput="ngModel" InputTirmFilter class="form-control  input-mix form-control-sm"
                                    name="name" [(ngModel)]="form.name" type="text" spaceValidator required>  
                                
                            </td>
                            <td>
                                <input InputTirmFilter class=" form-control form-control-sm input-mix" name="nameAr"
                                    [(ngModel)]="form.nameAr" type="text">
                            </td>
                            <td>
                                <span (click)="closeform()" class="btn  btn-sm btn-danger "><i
                                        class="  fas fa-times"></i></span>
                            </td>
                        </tr>
                        <tr *ngFor="let item of departments">
                            <td><input type="checkbox" class="p-2" (change)="checkChange(item.id,$event)"
                                    [checked]=item.selected></td>
                            <td>{{item.name}}</td>
                            <td>{{item.nameAr}}</td>
                            <td>{{item.lastEditDate | date}}</td>
                        </tr>

                    </tbody>
                </ng-container> <!--  ./body -->
            </eg-table>
        </form>

    </div>
</section>

<!-- template modal start -->
<ng-template #template>
    <div class="modal-header text-capitalize">
        <h4 class="modal-title pull-left" translate>general.delete</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-capitalize">
        <p translate>general.are you sure delete this records</p>
    </div>
    <div class="modal-footer text-capitalize">
        <button class="btn btn-primary btn-md disable" [ngClass]="{'disable': checkSave}" (click)="confirmDelete()"
            translate>general.save</button>
    </div>
</ng-template>
<!-- template modal end -->