<div class="report-info mt-4 text-center px-3">
    <div>
        <div>scope</div>
        <div>{{scope}}</div>
    </div>
    <div>
        <div>pt out</div>
        <div><i [ngClass]="{'fa-check': ptout==true}" class="fas"></i></div>
    </div>
    <div>
        <div>pt in</div>
        <div><i  [ngClass]="{'fa-check': ptout==false}" class="fas"></i> </div>
    </div>
    <div>
        <div>Anaesth</div>
        <div>{{anaesth}}</div>
    </div>
    <div>
        <div>endoscopist</div>
        <div>{{endoscopist?.name}}</div>
    </div>

 
</div>