<div class="report-info mt-4 text-center px-3">
    <table class="table-responsive-sm  table table-bordered  table-sm">
        <thead class="  ">
            <tr>
                <th scope="col">scope</th>
                <th scope="col">pt in</th>
                <th scope="col">pt out </th>
                <th scope="col">Anaesth</th>
                <th scope="col">endoscopist</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td scope="row"><span>{{scope}}</span> </td>
                <td> <i  [ngClass]="{'fa-check': ptout==false}" class="fas"></i>  </td>
                <td> <i [ngClass]="{'fa-check': ptout==true}" class="fas"></i> </td>
                <td> {{anaesth}}</td>
                <td  >  {{endoscopist?.name}}</td>
                 
            </tr>

        </tbody>
    </table>
</div>