 
.video-js {
    width: 100%;
    height: 100%;
 }
 .video-card{
     height: 70vh;
 }
  
 .card-image-capture{
     width: 100%;
 }
 .card-image-capture img{
     width: 100%;
 }
 .container-img-capture{
     display: grid;
     grid-template-columns: repeat(6,1fr);
     gap:10px 10px;
      
 }
 