<div class="content-header text-capitalize">
    <div class="container-fluid">
        <div class="row mb-2 title-section  ">
            <div class="col-sm-6 d-none d-md-block">
                <h6 class="m-0 text-dark" translate>general.create</h6>
            </div><!-- /.col -->
            <div class="col-sm-6 ">
                <ol class="breadcrumb float-sm-right   ">
                    <li class="breadcrumb-item"><a [routerLink]="['']" routerLinkActive="router-link-active"
                            translate>general.home</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/patients']" routerLinkActive="router-link-active"
                            translate>general.patients</a></li>
                    <li class="breadcrumb-item active" translate>general.create</li>

                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section>
    <div class="px-2 px-md-3 px-lg-5  mb-2 mb-md-3 mb-lg-5   text-capitalize  " style="direction: ltr;">
        <form [formGroup]="formReport">
            <div class="base row">
                <div class="report col-12 col-md-12 col-lg-7">
                    <base-report [patient]=patient>
                        <ng-container #body>
                            <report-info [scope]=scope [anaesth]=anaesth [ptout]=outPatient
                                [endoscopist]=selectedendoscopist></report-info>

                            <div class="body-parameter px-3 py-2">
                                <div class="row">
                                    <div class="col-12 col-lg-8">
                                        <div class="parameter">
                                            <h5 class="head">indication</h5>
                                            <div [innerHTML]="indication?.value | SafeHtml"></div>
                                        </div>
                                        <div class="parameter">
                                            <h5 class="head">colonoscopy</h5>
                                            <div [innerHTML]="colonoscopy?.value | SafeHtml"></div>

                                        </div>
                                        <div class="parameter">
                                            <h5 class="head">conclusion</h5>
                                            <div [innerHTML]="conclusion?.value | SafeHtml"></div>

                                        </div>
                                        <div class="parameter">
                                            <h5 class="head">consolutant</h5>
                                             <div [innerHTML]="selectedconsolutant?.reportDescription||'' | SafeHtml"></div>

                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <ng-container *ngFor="let image of imagesSelected">

                                            <div class="report-img">
                                                <img class="img-fluid mt-2" [src]="image.url" alt="">
                                            </div>

                                        </ng-container>
                                        
                                      
                                       
                                         
                                         
                                    </div>
                                </div>

                            </div>



                        </ng-container>

                    </base-report>
                </div>

                <div id="report-operation" class="operateion col-12 col-md-12  col-lg-5">
                    <report-paramenter-operation 
                    [consolutant]=consolutant 
                    [endoscopist]=endoscopist
                    (onconsolutant)=onconsolutant($event)
                    (onendoscopist)=onendoscopist($event)
                    (onSubmit)=onSubmit($event)
                    >
                        <ng-container class="parameter" #parameter>
                            <div class="mt-3" id="report-info">
                                <div class="main">
                                    <div> <div>scope</div>
                                    <div class="form-group mb-0">
                                        <input [(ngModel)]="scope" formControlName="scope" name="scope" class="    mx-auto" type="text" />
                                    </div></div>
                                   
                                    <div> <div>anaesth</div>
                                    <div class="form-group mb-0">
                                        <input class=" mx-auto   " [(ngModel)]="anaesth" formControlName="anaesth"     type="text" />
                                    </div> </div>
                                   
                                    <div>
                                        <div class="bg-dark">pt-out-in</div>
                                    
                                        <div class="radio" class="form-group">
                                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                           <input type="checkbox" [(ngModel)]="outPatient" formControlName="outPatient"     class=" custom-control-input mx-5" id="customSwitch3">
                                          <label class="custom-control-label" for="customSwitch3">pt-out</label>
                                        </div>
                                      </div></div> 
                                    
                                </div>

                             
                            </div>
                            <div class="form-group mt-3 bg-dark">
                                <h5 class="text-center" for="indication   "> indication</h5>
                                <ngx-editor-menu [toolbar]="toolbar" [hidden]='false' [editor]="editor"> </ngx-editor-menu>
                                <ngx-editor [editor]="editor" formControlName="indication"></ngx-editor>

                            </div>
                            <div class="form-group bg-dark">
                                <h5 class="text-center" for="colonoscopy"> colonoscopy</h5>
                                <ngx-editor-menu [toolbar]="toolbar" [hidden]='false' [editor]="editor2"> </ngx-editor-menu>
                                <ngx-editor [editor]="editor2" formControlName="colonoscopy"></ngx-editor>
                            </div>
                            <div class="form-group bg-dark">
                                <h5 class="text-center" for="colonoscopy"> conclusion</h5>
                                <ngx-editor-menu [toolbar]="toolbar" [hidden]='false' [editor]="editor3"> </ngx-editor-menu>
                                <ngx-editor [editor]="editor3" formControlName="conclusion"></ngx-editor>
                            </div>
                        </ng-container>

                        <ng-container class="patientimage">
                            <photo-report 
                            [patientimage]=patientImageGet
                            (ImageSelect)=ImageSelect($event)
                            ></photo-report>
                        </ng-container>



                    </report-paramenter-operation>


                </div>

            </div>
        </form>
    </div>
</section>